@{
    ViewData["Title"] = "KW Home Page";
}

<header jumbotron lass="text-center">
    <h1 class="display-4 text-center">CO453 Application Programming</h1>
    <h2 class="display-5 text-center">by Kyle Whynn</h2>
</header>   

    <section>

        <ol class="list-group">

            <li class="list-group-item">
            <a asp-controller="Home" asp-action="DistanceConverter">Distance Converter</a>
            </li>
    
            <li class="list-group-item">
             <a href="">  BMI Calculator </a> 
           </li>
           
        </ol>


    </section>


